body{
  background-color: #ccc;  
}
.form-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: f7f7f7;
    object-position: center;
} 
.form-container input {
	font-size: 14px;
	width: 140px;
    border-radius: 8px;
}
.form-container select {
	font-size: 14px;
    border-radius: 8px;
    width: 140px;
}
.form-container label {
	font-size: 14px;
    border-radius: 8px;
    width: 40px;
}
