body{
  background-color: #ccc;  
}
.form-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 450px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: whitesmoke;
    object-position: center;
}
.form-container select {
    font-size: 14px;
    border-radius: 8px;
    width: 140px;
   
}
#nome {
    margin-left: 20px;
}
#setor {
    margin-left: 20px;
}
#local {
    margin-left: 20px;
}
.form-container label {
    font-size: 14px;
    border-radius: 8px;
    width: 140px;
}
#ramal {
    width: 160px;
    margin-left: 20px;
}
h1 {
    text-align: center;
}
